<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    
    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&family=Amiri:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ "images/logo_pie.png" | relURL }}">
    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
</head>
<body class="bg-gray-50 text-gray-800">

    <div class="min-h-screen flex flex-col">
        {{ partial "header.html" . }}

        <main class="flex-grow">
            {{ block "main" . }}{{ end }}
        </main>
        
        {{ partial "footer.html" . }}
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        // Logika untuk toggle menu mobile
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');
        if (mobileMenuButton && mobileMenu) {
          mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
          });
        }

        // Logika untuk pop up/down kotak alamat di mobile
        const addressBox = document.getElementById('address-box');
        const toggleButton = document.getElementById('address-box-toggle');
        const arrowDown = document.getElementById('address-arrow-down');
        const arrowUp = document.getElementById('address-arrow-up');
        if (toggleButton && addressBox) {
          toggleButton.addEventListener('click', function() {
            addressBox.classList.toggle('collapsed');
            arrowDown.classList.toggle('hidden');
            arrowUp.classList.toggle('hidden');
          });
        }
      });
    </script>
</body>
</html>