<footer class="bg-white border-t border-gray-200 mt-12">
    <div class="container mx-auto px-6 py-8 text-center text-gray-600">
        <div class="mb-4">
            <a href="https://maps.app.goo.gl/yAeYmo2havvsQxrj8" target="_blank" rel="noopener noreferrer" class="hyperlink mx-4">Kunjungi Kami</a>
            <a href="mailto:muhammmadroyhanasokafaznur@gmail.com" class="hyperlink mx-4">Hubungi Email</a>
        </div>
        <p class="text-sm">&copy; {{ now.Format "2006" }} {{ .Site.Title }}. All Rights Reserved.</p>
    </div>
</footer>