{{ define "main" }}
<div class="container mx-auto max-w-4xl text-center px-4 py-20 md:py-24">
    <h1 class="text-4xl md:text-6xl font-bold font-serif-display leading-tight mb-6">
        Keseluruhan <span class="text-orange-500">Ilmu</span> Adalah<br>
        Satu <span class="text-orange-500">Titik Tunggal</span>.
    </h1>
    <p class="text-lg md:text-xl text-gray-600 max-w-3xl mx-auto mb-12">
        {{ .Content }}
    </p>

    <div class="flex flex-col sm:flex-row items-center justify-center space-y-4 sm:space-y-0 sm:space-x-4">
        
        <a href="{{ "/artikel/" | relURL }}" class="inline-block bg-orange-500 text-white font-bold py-3 px-8 rounded-full hover:bg-orange-600 transition-all transform hover:scale-105 shadow-lg hover:shadow-xl">
            Baca Artikel
        </a>
        
        <a href="https://chat.whatsapp.com/CYdBwnaU7jh0q5oVYm41yf" target="_blank" rel="noopener noreferrer" class="inline-block bg-white text-gray-800 font-bold py-3 px-8 rounded-full border border-gray-300 hover:bg-gray-100 transition-all transform hover:scale-105 shadow-lg hover:shadow-xl">
            Gabung Komunitas Kami (WAG)
        </a>

    </div>
</div>
{{ end }}